In [3]:
import mysql.connector as con

In [ ]:
# if database available this use   try -except
try:
    # connection
    mydb = con.connect(host='localhost', user='root', password='poojadas1993')
    print("Connection estiblished")
    # creating cursor object 
    # create a cursor to execute queries
    cur = mydb.cursor()  # cur just object name

    # create database
    cur.execute("CREATE DATABASE Ineuron")
    print("DATABASE Created!!")
    mydb.close()
# DROP DATABASE employeedemo

except Exception as e:
    mydb.close()
    print("DATABASE  Already EXITED !!")
    print(str(e))

In [ ]:
import mysql.connector as con

try:
    # database k sath  connection
    mydb = con.connect(
        host='localhost',
        user='root',
        password='poojadas1993',
        database='EmployeeDetail',

    )
    print("Connection esatalised")

    query = "SELECT * FROM EmployeeDemo "
    # Extracting Table recorde    
    cur = mydb.cursor()
    cur.execute(query)

    # fetchall() used to  extract all recorded in from of list of tuples
    result = cur.fetchall()

    # print result which is list of Tuple conatin by the help of for loop
    for i in result:
        print(i)

    # fetchone()
    # result= cur.fetchone()
    # print(result)

    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
path=r"C:/Desktop/Complete Python Module/19.2.MySQL/glass.data"

In [ ]:
import mysql.connector as con
import pandas as pd
import csv

# if database available this use   try -except
try:
    # connection
    mydb = con.connect(host='localhost', 
                       user='root',
                       password='poojadas1993',
                      database='Ineuron')
    print("Connection estiblished")
    # creating cursor object 
    # create a cursor to execute queries
    cur = mydb.cursor()  # cur just object name
    
    # create Table
    
    query="""CREATE TABLE IF NOT EXISTS Ineuron.GlassData(Index_No Integer(10),
                                                    RI Float(10,5),
                                                    Na Float(10,5),
                                                    Mg Float(10,5),
                                                    Al Float(10,5),
                                                    Si Float(10,5),
                                                    K Float(10,5),
                                                    Ca Float(10,5),
                                                    Ba Float(10,5),
                                                    Fe Float(10,5),
                                                    Class Integer(10));"""
   
    cur.execute(query)
    print("Table Created!!")
    
    #read the csv file
    with open('glass.data',mode='r') as f:
        next(f)
        data_csv= csv.reader(f,delimiter='\n')
        # print(data_csv)
        for line in data_csv:
            cur.execute(f"INSERT INTO Ineuron.GlassData Values ({list_})")
    print("All data inserted")
    mydb.commit()
    mydb.close()


except Exception as e:
    mydb.close()
    print(str(e))

In [52]:
with open('glass.data',mode='r') as f:
        next(f)
        data_csv= csv.reader(f,delimiter='\n')
        # print(data_csv)
        for line in data_csv:
            # for l in line[1]:
            # print(line[0])
            print(f"INSERT INTO Ineuron.GlassData Values ({line[0]})")
            break

INSERT INTO Ineuron.GlassData Values (1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1)

In [ ]:
Chiral indice n: n parameter of the selected chiral vector.
Chiral indice m: n parameter of the selected chiral vector.
Initial atomic coordinate u: Randomly generated u parameter of the initial atomic coordinates of all carbon atoms.
Initial atomic coordinate v: Randomly generated v parameter of the initial atomic coordinates of all carbon atoms.
Initial atomic coordinate w: Randomly generated w parameter of the initial atomic coordinates of all carbon atoms.
Calculated atomic coordinate uâ€™: Calculated uâ€™ parameter of the atomic coordinates of all carbon atoms.
Calculated atomic coordinate vâ€™: Calculated vâ€™ parameter of the atomic coordinates of all carbon atoms.
Calculated atomic coordinate wâ€™: Calculated wâ€™ parameter of the atomic coordinates of all carbon atoms.

In [ ]:
 mydb = con.connect(host='localhost', 
                       user='root',
                       password='poojadas1993',
                      database='Ineuron')
print("Connection estiblished")
    # creating cursor object 
    # create a cursor to execute queries
cur = mydb.cursor()
 
cur.execute("SHOW TABLES")
cur.fetchall()

In [ ]:
!ls

with open('glass.data',mode='r') as f:
    next(f)
    data_csv= csv.reader(f,delimiter='\n')
    # print(data_csv)
    for line in enumerate(data_csv):
        for list_ in line[1]:
            print(list_)
            # cur.execute(f"INSERT INTO Ineuron.GlassData Values ({list_})";)
#     print("all data inserted")
# mydb.commit()

In [ ]:
!ls

In [ ]:
t=(1,["4","8"])

In [ ]:
for i in t:
    print(i)

In [ ]:
",".join(["4","8"])

In [7]:
with open('carbon_nanotubes.csv',mode='r') as f:
    next(f)
    data_csv= csv.reader(f,delimiter=";")
    # print(data_csv)
 
    for  line in data_csv:
        print(tuple(line))
        break

('2', '1', '0,679005', '0,701318', '0,017033', '0,721039', '0,730232', '0,017014')

In [8]:
float("0.679005")

0.679005

In [9]:
r=['2', '1', '0,679005','0,701318','0,017033','0,721039','0,730232','0,017014']

print("INSERT INTO Ineuron.CarbonData Values(%d,%d,%s,%s,%s,%s,%s,%s)",format(tuple(r)))

INSERT INTO Ineuron.CarbonData Values(%d,%d,%s,%s,%s,%s,%s,%s) ('2', '1', '0,679005', '0,701318', '0,017033', '0,721039', '0,730232', '0,017014')

In [10]:
import mysql.connector as con
import pandas as pd
import csv

# if database available this use   try -except
try:
    # connection
    mydb = con.connect(host='localhost', 
                       user='root',
                       password='poojadas1993',
                      database='Ineuron')
    print("Connection estiblished")
    # creating cursor object 
    # create a cursor to execute queries
    cur = mydb.cursor()  # cur just object name
    
    # create Table
    
    query="""CREATE TABLE IF NOT EXISTS Ineuron.CarbonData(Chiral_indice_n Integer(15),
                                                            Chiral_indice_m Integer(15),
                                                            Initial_atomic_coordinate_u Varchar(200) ,
                                                            Initial_atomic_coordinate_v Varchar(200),
                                                            Initial_atomic_coordinate_w Varchar(200),
                                                            Calculated_atomic_coordinates_u Varchar(200),
                                                            Calculated_atomic_coordinates_v Varchar(200),
                                                            Calculated_atomic_coordinates_w Varchar(200))"""
   
    cur.execute(query)
    print("Table Created!!")
    
    # #read the csv file
    with open('carbon_nanotubes.csv',mode='r') as f:
        next(f)
        data_csv= csv.reader(f,delimiter="\n")
       
        for  line in data_csv:
            line= ((line[0].replace(',',".")).replace(';',",")).split(",")
            cur.execute(f"INSERT INTO Ineuron.CarbonData Values({int(line[0])},{int(line[1])},'{line[2]}','{line[3]}','{line[4]}','{line[5]}','{line[6]}','{line[7]}')")
    print("All data inserted")
    mydb.commit()
    
    mydb.close()


except Exception as e:
    mydb.close()
    print(str(e))

Connection estiblished
Table Created!!
All data inserted

pip install pymysql

In [11]:
import mysql.connector as con
import pandas as pd
import csv

# if database available this use   try -except
try:
    # connection
    mydb = con.connect(host='localhost', 
                       user='root',
                       password='poojadas1993',
                      database='Ineuron')
    print("Connection estiblished")
    # creating cursor object 
    # create a cursor to execute queries
    cur = mydb.cursor()  # cur just object name
    
    # create Table
    
    query="""CREATE TABLE IF NOT EXISTS Ineuron.CarbonData(Chiral_indice_n Integer(15),
                                                            Chiral_indice_m Integer(15),
                                                            Initial_atomic_coordinate_u Varchar(100) ,
                                                            Initial_atomic_coordinate_v Varchar(100),
                                                            Initial_atomic_coordinate_w Varchar(100),
                                                            Calculated_atomic_coordinates_u Varchar(100),
                                                            Calculated_atomic_coordinates_v Varchar(100),
                                                            Calculated_atomic_coordinates_w Varchar(100))"""
   
    cur.execute(query)
    print("Table Created!!")
    
    # #read the csv file
    with open('carbon_nanotubes.csv',mode='r') as f:
        next(f)
        data_csv= csv.reader(f,delimiter="\n")
       
        for  line in data_csv:
            
            q=f"INSERT INTO Ineuron.CarbonData (Chiral_indice_n Integer,Chiral_indice_m,Initial_atomic_coordinate_u,Initial_atomic_coordinate_v,Initial_atomic_coordinate_w,Calculated_atomic_coordinates_u,Calculated_atomic_coordinates_u) Values(%s,%s,%s,%s,%s,%s,%s,%s)"
            cur.execute(q,tuple(line))
            
    print("All data inserted")
    mydb.commit()
    
    mydb.close()


except Exception as e:
    mydb.close()
    print(str(e))

Connection estiblished
Table Created!!
Not enough parameters for the SQL statement

In [12]:
import mysql.connector as con
import pandas as pd
import csv

# if database available this use   try -except
try:
    # connection
    mydb = con.connect(host='localhost', 
                       user='root',
                       password='poojadas1993',
                      database='Ineuron')
    print("Connection estiblished")
    # creating cursor object 
    # create a cursor to execute queries
    cur = mydb.cursor()  # cur just object name
    
    # create Table
    
    query="""CREATE TABLE IF NOT EXISTS Ineuron.CarbonData(Chiral_indice_n Integer(15),
                                                            Chiral_indice_m Integer(15),
                                                            Initial_atomic_coordinate_u Varchar(100) ,
                                                            Initial_atomic_coordinate_v Varchar(100),
                                                            Initial_atomic_coordinate_w Varchar(100),
                                                            Calculated_atomic_coordinates_u Varchar(100),
                                                            Calculated_atomic_coordinates_v Varchar(100),
                                                            Calculated_atomic_coordinates_w Varchar(100))"""
   
    cur.execute(query)
    print("Table Created!!")
    
    # #read the csv file
    with open('carbon_nanotubes.csv',mode='r') as f:
        next(f)
        data_csv= csv.reader(f,delimiter=";")
       
        for  line in data_csv:
            
            q=f"INSERT INTO Ineuron.CarbonData (Chiral_indice_n,Chiral_indice_m,Initial_atomic_coordinate_u,Initial_atomic_coordinate_v,Initial_atomic_coordinate_w,Calculated_atomic_coordinates_u,Calculated_atomic_coordinates_u) VALUES({int(line[0])},{int(line[1])},'{r}','{line[3]}','{line[4]}','{line[5]}','{line[6]}','{line[7]}) "
            cur.execute(q)
            
    print("All data inserted")
    mydb.commit()
    
    mydb.close()


except Exception as e:
    mydb.close()
    print(str(e))

Connection estiblished
Table Created!!
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '2', '1', '0,679005', '0,701318', '0,017033', '0,721039', '0,730232', '0,017014']' at line 1

In [13]:
l=["5","0.5","0.5"]
",".join(l)

'5,0.5,0.5'

In [14]:
r=['2', '1', '0,679005','0,701318','0,017033','0,721039','0,730232','0,017014']


",".join(r)

'2,1,0,679005,0,701318,0,017033,0,721039,0,730232,0,017014'

In [15]:
 with open('carbon_nanotubes.csv',mode='r') as f:
        next(f)
        data_csv= csv.reader(f,delimiter=";")
       
        for  line in enumerate(data_csv):
#         print(tuple(line[1]))
            print(f"INSERT INTO Ineuron.CarbonData Values{tuple(line[1])}")
            break

INSERT INTO Ineuron.CarbonData Values('2', '1', '0,679005', '0,701318', '0,017033', '0,721039', '0,730232', '0,017014')

In [16]:
import mysql.connector as con
import pandas as pd
import csv
import pymysql

# if database available this use   try -except
try:
    # connection
    mydb = con.connect(host='localhost', 
                       user='root',
                       password='poojadas1993',
                      database='Ineuron')
    print("Connection estiblished")
    # creating cursor object 
    # create a cursor to execute queries
    cur = mydb.cursor()  # cur just object name
    
    # create Table
    
    query="""CREATE TABLE IF NOT EXISTS Ineuron.CarbonData1(Chiral_indice_n Integer(15),
                                                            Chiral_indice_m Integer(15),
                                                            Initial_atomic_coordinate_u Varchar(200),
                                                            Initial_atomic_coordinate_v Varchar(200),
                                                            Initial_atomic_coordinate_w Varchar(200),
                                                            Calculated_atomic_coordinates_u Varchar(200),
                                                            Calculated_atomic_coordinates_v Varchar(200),
                                                            Calculated_atomic_coordinates_w Varchar(200))
                                                           """
   
    cur.execute(query)
    print("Table Created!!")
    
    with open('carbon_nanotubes.csv',mode='r') as f:
        next(f)
        data_csv= csv.reader(f,delimiter=";")
       
        for  line in data_csv:
#         print(tuple(line[1]))
            cur.execute(f"INSERT INTO Ineuron.CarbonData1 Values{tuple(line)}")
           
    print("All data inserted")
    mydb.commit()
    
    mydb.close()


except Exception as e:
    mydb.close()
    print(str(e))

Connection estiblished
Table Created!!
All data inserted